@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  background-image: url(./background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  padding: 15%;
}

.container {
  width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.4)
  );
  padding: 50px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.8rem);
  border-radius: 1rem;
}
.container > img {
  width: 200px;
}

.information h1 {
  font-family: "Staatliches", cursive;
  font-size: 60px;
  color: darkblue;
}
.options{
  display: flex;
  justify-content: space-evenly;
}